body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 850px;
  min-width: 550px;
  padding: 20px;
  background: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}